[submodule "lib/json"]
	path = lib/json
	url = https://github.com/douglascrockford/JSON-java.git
[submodule "lib/org/json"]
	path = lib/org/json
	url = https://github.com/douglascrockford/JSON-java.git
